@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
html, body {
	background-color: #000000;
	color: #67E4E5;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	height: 100%;
	margin: 0px;
	width: 100%;
}

a, a:visited {color: #67E4E5;}

.center {
	display: table;
	height: 100%;
	width: 100%;
}

.center-wrap {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.center-content {
	display: block;
	margin: 0px auto;
	padding: 50px;
	text-align: left;
	max-width: 780px;
}
ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #67E4E5;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #67E4E5;
    text-decoration: none;
}
.fa-mail {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-mail:hover {
    background-color: #322f30;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-twitter:hover {
    background-color: #322f30;
}
.fa-instagram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-instagram:hover {
    background-color: #322f30;
}
.fa-medium {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-medium:hover {
    background-color: #322f30;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-linkedin:hover {
    background-color: #322f30;
}
.fa-github {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #000000;
}
.fa-github:hover {
    background-color: #322f30;
}


